@import "tailwindcss";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


/* ======================== FONTS ======================== */
@import "@/styles/fonts.css";


/* ======================== RESPONSIVENESS ======================== */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}
}

@media (width <= 768) {
	.container,
	footer,
	nav,
	main {
		width: 100%;
	}
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ======================== THEME ======================== */
@import "@/styles/theme.css";


/* ======================== BASE ======================== */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  h1 {
    @apply text-2xl;
    letter-spacing: -0.025em;
  }

  h2 {
    @apply text-xl;
    letter-spacing: -0.025em;
  }

  h3 {
    @apply text-lg;
    letter-spacing: -0.025em;
  }

  h4, h5 {
    @apply text-base;
  }

  h5 {
    opacity: 80%;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply text-sm;
    opacity: 90%;
  }

  nav {
    padding: 1rem;
    @apply shadow;
    background-color: var(--color-sidebar);
    color: var(--color-sidebar-foreground);

    & > .header-links {
      & a {
        @apply text-accent-foreground;
        @apply transition-colors duration-200;
        @apply hover:text-primary;
      }
    }
  }

  button {
    @apply border border-border;
    background-color: var(--color-card);
    text-color: var(--color-foreground);
  }
}


/* ======================== COMPONENTS ======================== */
@layer components {
  .card {
    background-color: var(--color-card);
    border-width: 2px;
    border-radius: var(--radius);
    color: var(--color-card-foreground);
    @apply px-3 py-1.5;
    @apply border border-border;
  }

  .card-grid {
    display: grid;
		column-gap: 0.5rem;
		row-gap: 0.5rem;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

		@apply px-2 sm:px-0;
  }
}


/* ======================== UTILITIES ======================== */
@layer utilities {
  
}

/* ======================== ANIMATIONS ======================== */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: spin 15s linear infinite;
  display: inline-block;
}